@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');



/* ENTIRE BODY */



.body {
    background-color: #E5ECF3;
}

.body-container {
    display: flex;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    justify-content: space-between;
}



/* SIDE BAR */



.main-nav {
    width: 20%;
    background-color: #b3baca;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-nav h2 {
    color: white;
    margin: 20px;
}

.main-nav .category {
    width: 85%;
    padding: 15px 0;
    margin: 10px 0;
    background-color: white;
    text-decoration: none;
}

.main-nav .cat-fantasy {
    background-image: url(../images/Side-bar/fantasy.jpg);
    background-size: cover;
    background-position: center;
}

.main-nav .cat-horror {
    background-image: url(../images/Side-bar/horror.jpg);
    background-size: cover;
    background-position: center;
}

.main-nav .cat-mystery {
    background-image: url(../images/Side-bar/mystery-2.jpg);
    background-size: cover;
    background-position: center;
}

.main-nav .cat-romance {
    background-image: url(../images/Side-bar/romance-2.jpg);
    background-size: cover;
    background-position: center;
}

.main-nav .cat-sci-fi {
    background-image: url(../images/Side-bar/sci-fi.jpg);
    background-size: cover;
    background-position: center;
}

.main-nav .cat-textbook {
    background-image: url(../images/Side-bar/textbook-2.jpg);
    background-size: cover;
    background-position: center;
}

.main-nav .category:hover {
    transform: scale(1.05,1.05);
    opacity: 0.7;
}

.main-nav .category:hover {
    background-color: whitesmoke;
}

.main-nav h3 {
    color: white;
    text-align: center;
}



/* MAIN SECTION */



.main-section {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recomendation {
    background-color: white;
    width: 100%;
    text-align: center;
}

.recomendation h2 {
    color: white;
    padding: 75px;
    font-size: 50px;
    background-image: url(../images/Hero-Section/alfons-morales-YLSwjSy7stw-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.cat-title {
    width: 100%;
    padding: 40px 0;
    font-size: 28px;
}

.book-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 350px;
}

.book-container {
    width: 23%;
}

.book-container h4 {
    text-align: center;
    padding: 20px;
}

.book-container a {
    text-decoration: none;
    color: rgb(50, 50, 50);
}

.book-img {
    width: 100%;
    height: 85%;
    background-color: white;
}

.book-img:hover{
    transform: scale(1.05,1.05);
}