@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


/* ENTIRE BODY */



.body {
    background-color: #E5ECF3;
}

.body-container {
    display: flex;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    flex-direction: column ;
    align-items: center;
   
}


/* MAIN SECTION */



.main-section {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.recomendation {
    background-color: white;
    width: 100%;
    text-align: center;
}

.recomendation h2 {
    color: white;
    padding: 75px;
    font-size: 50px;
    background-image: url(./images/Hero-Section/alfons-morales-YLSwjSy7stw-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.cat-title {
    width: 100%;
    padding: 40px 0;
    font-size: 28px;
}

.book-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 350px;
}

.book-container {
    width: 23%;
}

.book-container h4 {
    text-align: center;
    padding: 20px;
}

.book-container a {
    text-decoration: none;
    color: rgb(50, 50, 50);
}

.book-img {
    width: 100%;
    height: 85%;
    background-color: white;
}

.book-img:hover{
    transform: scale(1.05,1.05);
}


/*newly added middle section & white background by yun*/

.centre-main-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.white-box {
    background-color:#909090;
    width: 100%;
    text-align: center;
    padding: 40px;
}


/* book content */

.main {
    background-color:#ffffff;
    width: 70%;
    padding: 20px;
    text-align: justify;
    margin-top: 10px;
}

.main h2{
    padding: 10px 0px;
}

.book-page-container {
    align-items: center;
    width: 80%;
    height:100%;
}
.book-page {
    width: 100%;
    height: 100%;
    background-color: white;
}





















.middle-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.white-background {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: #444;
    margin: 20px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px 20px 20px 40px 20px 20px 50px;
    gap: 10px;
    padding: 5px;
  }

.column-left {
    float: left;
    width: 30%;
    }

.column-right {
   float: right;
  width: 10%;
   }
    
.bookcover {
    grid-row-start: 1;
    grid-row-end: 4;
}