@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');



/* ENTIRE BODY */

      

.body {
    background-color: #E5ECF3;
}

.body-container {
    display: flex;
    min-height: 70vh;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    justify-content: center;
}



/* User information */



.edit-profile {
    width: 100%;
    padding-bottom: 25px;
    font-size: large;
}

.edit-form {
    width: 100%;
}

.info-container {
    width: 100%;
    display: flex;
    align-items: center;
}

table {
    font-size: 20px;
    text-align: left;
}

table th {
    padding: 5px 0;
}

table input {
    background-color: #E5ECF3;
    border: none;
    font-size: 20px;
    padding: 0 10px;
    width: 200px;
}

.edit-btn,
.del-btn {
    text-decoration: none;
    color: white;
    background-color: #EF8354;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-left: 50px;
    padding: 7.5px 25px;
    cursor: pointer;
}

.del-btn {
    margin-left: 10px;
}

.edit-btn:hover,
.del-btn:hover {
    background-color: chocolate;
}

#edit-mode {
    background-color: rgb(212, 212, 212);
}



/* MAIN SECTION */



.main-section {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fav-books {
    width: 100%;
    padding: 40px 0;
    font-size: 28px;
}

.book-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.book-container {
    width: 23%;
    height: 350px;
    margin-right: 18px;
    margin-bottom: 25px;
}

.book-container h4 {
    text-align: center;
    padding: 20px;
}

.book-container a {
    text-decoration: none;
    color: rgb(50, 50, 50);
}

.book-img {
    width: 100%;
    height: 85%;
    background-color: white;
}

.book-img:hover{
    transform: scale(1.05,1.05);
}